* {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin:0px
  }

  .title {
    font-size: min(120px, 22vw);   
    color: #001d64;
    margin: min(60px, 3vh)
  }

  
.container {
    background-color: #0098f1;   
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2vw;
    gap: 1.5px;
    margin-bottom: 10vw; 
    width: min(500px, 90vw);
}

.grid {
    display: grid;
    width: min(440px, 80vw);
    grid-template:  repeat(6, 1fr) / repeat(4, 4fr);
    gap: min(15px, 1vw);
    
}

.screen {
    background-color: #E1E0E0;
    width: min(440px, 85vw); 
    height: min(160px, 15vh);
    margin: 25px ;
    border-radius: 20px 20px 5px 5px;
    color: #001d64;
}

button {
    width: min(100px, 18vw);
    height: min(100px, 18vw);
    border-radius: 50px;
    border: none;
    color:#001d64;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    background-color: white;
    font-size: min(40px, 10vw);
}


button:hover {
    background-color: #E1E0E0;
  
}

button:active {
    background-color: #E1E0E0;
    border-radius: 35px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.operation{
    height: min(95px, 8.90625vh);
    font-size: 70px; 
    text-align: end;
    padding-right: min(15px, 1vw);
    padding-left: min(15px, 1vw); 


}

.result {
    height: min(65px, 6.09375vh);
    font-size: 30px; 
    padding-right: min(15px, 1vw);
    padding-bottom: min(5px, 0.3333vw);
}



.resultDone {
    height: min(95px, 8.90625vh);
    font-size: 70px;
    text-align: end;
    padding-right: min(15px, 1vw);
    padding-left: min(15px, 1vw); 
}

.operationDone {
    padding-top: min(10px, 0.6666vw);
    padding-bottom: min(20px, 1.3333vw);
    height: min(65px, 6.09375vh);
    font-size: 30px;
    padding-right: min(15px, 1vw);

}

.operation, .result, .resultDone, .operationDone {
    overflow:auto;
    overflow-y: hidden;
    text-align: end;
    white-space: nowrap;

}


 ::-webkit-scrollbar {
    background-color: #E1E0E0;
    
}

    ::-webkit-scrollbar-thumb {
        background-color: #001d64;
        border-radius: 5px;
      
    }
    
   
.clear, .delete {
    background-color: #001d64;
    color: #E1E0E0;
}

.clear:hover, .delete:hover {
    background-color: #E1E0E0;
    color: #001d64;

}


.round {
    font-size: min(25px, 5vw);
    border-radius: 50px;
    border: 2px solid #001d64;
    color:#001d64;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex:2
}

.round:hover {
    background-color: #E1E0E0;
  
}

.round:active {
    background-color: #E1E0E0;
    border-radius: 35px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

input{
    width: min(50px, 9vw);
    flex: 1;
    border-radius: 50px;
    border: solid 2px #001d64
}



.wrapper {
    width: min(100px, 18vw);
    height: min(100px, 18vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: min(10px, 0.5vw);
    margin: 0px;
    padding:0px

}

::selection{
    background-color: #001d64;
    color: #E1E0E0;
}